.nav-item {
    position: relative;
  }
  .custom-nav{
    background-color:#cbd5e1 ;
  }
  .contact-us{
    background-color: #2A4755;
  }
  .contact-us:hover{
    background-color: #cbd5e1;
  }
  .download-btn{
    background: #41C1BA14;

  }
  .mobile-contact-us{
    background-color: #2A4755;
  }
  .nav-item .underline {
    content: '';
    width: 0;
    height: 2px;
    background-color: #2dd4bf; /* Teal color for underline */
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
  }
  
  .nav-item:hover .underline,
  .nav-item.active .underline {
    width: 100%;
  }
  
  .nav-item.active a {
    color: #2dd4bf; /* Teal color for the active link */
  }
  @media (max-width: 1023px) {
    .custom-nav {
      position: relative;
      z-index: 50;
    }
  }