.nav-item {
    position: relative;
  }
  .custom-nav{
    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
 
  .container {
    max-width: 1280px; /* Adjust this value to match your content width */
  }
  .contact-us{
    background-color: #2A4755;
  }
  .contact-us:hover{
    background-color: #cbd5e1;
  }
  .download-btn{
    background: #41C1BA14;

  }
  .mobile-contact-us{
    background-color: #2A4755;
  }
  .nav-item .underline {
    content: '';
    width: 0;
    height: 2px;
    background-color: #2dd4bf;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
  }
  .nav-link {
    text-decoration: none; /* No underline by default */
  }
  
  .nav-item:hover::after,
  .nav-item.active::after {
    width: 100%;
  }
  
  .nav-item:hover,
  .nav-item.active {
    color: #2dd4bf;
  }
  @media (max-width: 1023px) {
    .custom-nav {
      position: relative;
      z-index: 50;
    }
  }