@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');



.heading {
    font-family: "Space Grotesk", sans-serif; /* Ensure consistency */
    font-weight: 700; /* Optional: define weight for headings */
}
.para-text {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        width: 100%; /* Set a specific width for the paragraph */
        max-width: 670px; /* Optional: to match the width in your JSX */
        text-align: center; /* Center-align the text */
        margin: 0 auto; /* Center the paragraph itself */
    
    
  }