

.vitals-container {
    width: 100%;
    margin: 0 auto;
  }
  .subHeading{
    font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: rgba(42, 71, 85, 0.70);
  }
.tags{
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  color: rgba(42, 71, 85, 0.87); /* 87% opacity */
}
  .articleheading{
    font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25.8px;
  color: #2A4755;
  }

  .articlepara {
    font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(42, 71, 85, 0.6);
  }
